# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

.env

# Virtual environments
.venv/
venv/
ENV/
env/

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
*.manifest
*.spec

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/

# FastAPI specific (logs, generated stuff)
*.log
*.db
*.sqlite3

# Jupyter Notebook
.ipynb_checkpoints

# IDE / Editor specific
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# macOS / Linux / Windows files
.DS_Store
Thumbs.db
